{{! SP CUSTOMIZATION - ENTIRE FILE }}
<div class='container'>
  <div class='contents clearfix'>

    {{!-- {{home-logo minimized=showExtraInfo}} --}}
    <a class="logomark" href="/" tabindex="1">
      <img src="http://bbs.dmgeek.com/uploads/default/original/2X/4/4ba91d8d7ba3af2e08743c54cbd50ab6e8b934a7.png" alt="DmGeek 盗梦极客论坛">

    </a>
    {{plugin-outlet "header-after-home-logo"}}

    <div class='panel clearfix'>
      <div class='header-buttons'>
      {{#unless currentUser}}
        {{#if showSignUpButton}}
          {{d-button action="showCreateAccount" class="btn-primary btn-small sign-up-button" label="sign_up"}}
        {{/if}}
        {{d-button action="showLogin" class="btn-primary btn-small login-button" icon="user" label="log_in"}}
      {{/unless}}
      </div>
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}

        {{#header-dropdown iconId="search-button"
                           icon="search"
                           action="toggleSearch"
                           toggleVisible=searchVisible
                           mobileAction="fullPageSearch"
                           loginAction="showLogin"
                           title="search.title"
                           href="search"}}
        {{/header-dropdown}}

        {{#header-dropdown iconId="toggle-hamburger-menu"
                           icon="bars"
                           toggleVisible=hamburgerVisible
                           loginAction="showLogin"
                           title="hamburger_menu"}}
          {{#if flaggedPostsCount}}
            <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
          {{/if}}
        {{/header-dropdown}}

        {{#if currentUser}}
          {{#header-dropdown iconId="current-user"
                             class="current-user"
                             showUser="true"
                             toggleVisible=userMenuVisible
                             loginAction="showLogin"
                             title="user.avatar.header_title"}}
            {{#if currentUser.unread_notifications}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
          {{/header-dropdown}}
        {{/if}}
      </ul>
        {{plugin-outlet "header-before-dropdowns"}}
        {{user-menu visible=userMenuVisible logoutAction="logout"}}
        {{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}}
        {{search-menu visible=searchVisible}}
    </div>

    {{#if showExtraInfo}}
      {{header-extra-info topic=topic}}
    {{else}}
      <div class="header-links-wrapper clearfix">
        <a class="header-link "  href="http://bbs.dmgeek.com/c/vrnews" tabindex="2">综合讨论区</a>
        <a class="header-link "  href="http://bbs.dmgeek.com/c/vrapps" tabindex="3">应用与游戏</a>
        <a class="header-link "  href="http://bbs.dmgeek.com/c/vrdevices" tabindex="4">虚拟设备</a>
        <a class="header-link"  href="http://bbs.dmgeek.com/c/resource" tabindex="5">资源区</a>
      
      </div>
    {{/if}}

  </div>
</div>
